[project]
	description = ????????? ????? ??????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yukoff
[access "refs/for/refs/*"]
	read = group user/yukoff
	push = group user/yukoff
	label-Code-Review = -2..+2 group user/yukoff
	label-Verified = -1..+1 group user/yukoff
	rebase = group user/yukoff
	removeReviewer = group user/yukoff
	submit = group user/yukoff
[access "refs/heads/*"]
	read = group user/yukoff
	create = group user/yukoff
	push = +force group user/yukoff
	pushMerge = group user/yukoff
[access "refs/tags/*"]
	push = group user/yukoff
	push = +force group user/yukoff
